[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://www.piwheels.org/simple"
verify_ssl = true
name = "piwheels"

[packages]
certifi ="*"
chardet ="*"
idna ="*"
pick ="*"
requests ="*"
requests-toolbelt ="*"
urllib3 ="*"

[dev-packages]

