[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
certifi ="*"
chardet ="*"
idna ="*"
pick ="*"
requests ="*"
requests-toolbelt ="*"
urllib3 ="*"

[dev-packages]

